<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509488599835-dps5r1oujt7b8avhg491i6gpvt4hudgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509488599835-dps5r1oujt7b8avhg491i6gpvt4hudgl</string>
	<key>API_KEY</key>
	<string>AIzaSyD48llURSOGR0pmMyPLn8KsKnedLI1jPe4</string>
	<key>GCM_SENDER_ID</key>
	<string>509488599835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.krishiGyan</string>
	<key>PROJECT_ID</key>
	<string>krishigayan-2085d</string>
	<key>STORAGE_BUCKET</key>
	<string>krishigayan-2085d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509488599835:ios:8d060f1c1e382f6040f9be</string>
</dict>
</plist>